@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

:root {
  --white-color: #fff;
  --black-color: #000;
  --orange-color: #ed563b;
  --text-color: #333;
  --light-text-color: #7a7a7a;
  --link-color: #007bff;
  --link-color--hover: #0056b3;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col {
  padding-left: 12px;
  padding-right: 12px;
}

/* Remove gutter of row when inserting class no-gutters beside class row */
.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

/* Remove gutter of rol when inserting class no-gutters beside class row */
.row.no-gutters > .col {
  padding-left: 0;
  padding-right: 0;
}

.l-0 {
  display: none;
}

.l-1,
.l-2,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
  display: block;
}

.l-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.l-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.l-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.l-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.l-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.l-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.l-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.l-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.l-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.l-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.l-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.l-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
